@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
.main1{
    padding: 0;
  margin: 0;
height:100vh;
background: rgb(20, 20, 20);
background: linear-gradient(120deg, rgba(0, 0, 0, 0.746) 1%, rgba(23,23,23,0.5522584033613445) 72%), url("./image/c13.jpg");
background-size: cover;
background-attachment:scroll;


}
.main2{
  padding: 0;
  margin-bottom:120px;
height:100vh;
background-image: url(./image/shops.jpg);
background-attachment: fixed;
clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%,
 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%,
 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%,
 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%,
 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 
 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%,
 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%,
33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%,
38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%,
 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 
 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 
 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 
 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%,
 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%,
 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%,
 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 
 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%,
84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%,
 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 
 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%,
 100% 80.6708%, 100% 0%); 
shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%,
  3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 
  8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%,
 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%,
18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 
23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%,
 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 
  33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%,
 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%,
 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%,
  49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%,
   54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%,
 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%,
  64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%,
   69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%,
    74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%,
 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%,
 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%,
  89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 
  94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);


background-size:100% 100%;

}


.main3{
  padding: 0;
  margin-bottom:120px;
height:100vh;
background-image: url(../img/hands.jpg);
background-attachment: fixed;
clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%,
 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%,
 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%,
 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%,
 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 
 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%,
 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%,
33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%,
38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%,
 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 
 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 
 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 
 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%,
 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%,
 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%,
 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 
 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%,
84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%,
 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 
 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%,
 100% 80.6708%, 100% 0%); 
shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%,
  3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 
  8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%,
 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%,
18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 
23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%,
 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 
  33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%,
 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%,
 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%,
  49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%,
   54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%,
 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%,
  64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%,
   69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%,
    74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%,
 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%,
 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%,
  89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 
  94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);

background-size:100% 100%;

}

.century{
position: absolute;
top: 40%;
left: 30%;
color: white;
font-size: 100px;
  
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  
  background: #242426;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #1a197cc5;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(38, 51, 233, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.wrappers{
  height: 42vh;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
	perspective: 1000px;
}
.wrappers .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrappers:hover > .front-face{
  transform: rotateY(-180deg);
}

.wrappers .back-face{
  display: flex;
  padding: 5%;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrappers:hover > .back-face{
  transform: rotateY(0deg);
}



.cardbnt:hover  {
background-color:white ;
border: 3px solid rgb(60, 202, 60);
color: rgb(60, 202, 60); ;



}
.cardbnts:hover {
background-color:white ;
border: 3px solid rgb(60, 202, 60);
color: rgb(60, 202, 60); ;



}

.cardbnt:hover  a {
font-size: 12;
color: rgb(60, 202, 60); ;



}
.cardbnts:hover a {
font-size: 12;
color: rgb(60, 202, 60); ;



}

 .section1 .bgserv1{
 
 background-image: linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("./image/c13.jpg"); 
}
.section1 .bgserv2{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("./image/ambasador2.jpg"); 
}
.section1 .bgserv3{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("./image/beriBanner.jpg"); 
}
.section1 .bgserv4{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("./image/baby2.jpg"); 
}

 
.section2 .bgserv1{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("./image/gulit.jpg"); 
}
.section2 .bgserv2{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("./image/carot.jpg"); 
}
.section2 .bgserv3{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("./image/supma2.jpg"); 
}
.section2 .bgserv4{
   background-image: linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) ,url("./image/supma.jpg"); 
}

.section3 .bgserv1{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("./image/t-71.jpg"); 
}
.section3 .bgserv2{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("./image/t-72.jpg"); 
}
.section3 .bgserv3{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("./image/birana3.jpg"); 
}
.section3 .bgserv4{
   background-image: linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) ,url("./image/biranaBanner.jpg"); 
}
.section5 .bgserv1{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("../../image/massage.png"); 
}
.section5 .bgserv2{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("../../image/spa.jpg"); 
}
.section5 .bgserv3{
   background-image:linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) , url("../../image/treat.jpg"); 
}
.section5 .bgserv4{
   background-image: linear-gradient(0deg, rgba(101, 101, 103, 0.288) 0%, rgba(198, 198, 208, 0) 0%, rgba(27, 28, 28, 0.726) 100%) ,url("../../image/makeup.jpg"); 
}
.cardbnt,.cardbnts{
  margin-top: 20px;
 border: 3px solid rgb(60, 202, 60) ;
  background-color: rgb(60, 202, 60);
  color: white;
  padding: 6px;
  border-radius:5px;
  color: black;
  font-size: 17px;
}
.cardbnt a,.cardbnts a{
  color:white;
  font-size: 14;
text-decoration: none;
}
.title{
  text-align: center;
  font-weight: bold;
}
.vist{
position: relative;
color: white;
font-weight: 600;
  top:7%;
  left: 5%;
  width: 40%;
  text-align: center;
  font-size: 19px;

  border-radius: 4px;
  text-align: center;
}
.serv1{
background-size: cover;
height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 40px;
 
}

.section5{
  padding:0 30px 0 30px;
}

.col:hover .cardbnts {
  display: none;

}
 .catagory{
display:flex ;
justify-content: center;
align-items: center;
color: rgb(231, 77, 90);
font-weight: 900;
font-size: 30px;
padding:40px;


 }
.face i,.tele i{
  font-size: 24px;
  font-weight: 300;
  color: rgb(59, 57, 214) ;
  margin-right: 20px;
}
.insta i{
   font-size: 24px;
  font-weight: 300;
  color: rgb(38, 73, 156) ;
  margin-right: 20px;
}

a{
  text-decoration: none;
}
.rating i{
  margin: 0px;
  padding: 0px;
   color: rgb(241, 178, 42) ;
   font-size: 20px;
}
.back-face div a{
  font-weight: 700;
  color: black;
  
}
.back-face div p{
  font-weight: 700;
  color: black;
  
}
.back-face div p span{
  font-weight: 600;
  margin: 3px;
  color: rgb(44, 30, 177);
  
}


.footer-distributed{
 background-color: #292c2f;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: bold 16px sans-serif;
 
 padding: 55px 50px;
 margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}
 
.footer-distributed .footer-left{
 width: 40%;
}
 
.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px 'Cookie', cursive;
 margin: 0;
}
 
.footer-distributed h3 span{
 color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}
 
.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
}
 
.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}
 
 
.footer-distributed .footer-center{
 width: 35%;
}
 
.footer-distributed .footer-center i{
 background-color:  #33383b;
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}
 
.footer-distributed .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
}
 
.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:14px;
 line-height:2;
}
 
.footer-distributed .footer-center p a{
 color:  #5383d3;
 text-decoration: none;;
}
 
.footer-distributed .footer-right{
 width: 20%;
}
 
.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #92999f;
 font-size: 13px;
 font-weight: normal;
 margin: 0;
}
 
.footer-distributed .footer-company-about span{
 display: block;
 color:  #ffffff;
 font-size: 14px;
 font-weight: bold;
 margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
 margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #33383b;
 border-radius: 2px;
 
 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;
 
 margin-right: 3px;
 margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
 .footer-distributed{
 font: bold 14px sans-serif;
 
 }
 .section1{
   overflow: hidden;
 }
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 display: block;
 width: 100%;
 margin-bottom: 40px;
 text-align: center;
 }
 
 .footer-distributed .footer-center i{
 margin-left: 0;
 }
 .main {
 line-height: normal;
 font-size: auto;
 }
 
}
.section1,.section2,.section3,.section5{
  padding:0 14% 0 14%;
}
.section1{
  background-color:white;
  overflow: hidden;
}
.section2{
  background-color:white;
   background-image: url(./image/);
}

.section2{

background-image: url(./image/c7.jpg);
background-size: cover;
background-attachment: fixed;

}

.section0{
padding: 0;
margin: 0;
background-color: #242426;
}
.section2,.section3{
  margin-top: 10%;
}
/*new code*/
.shop-popup{
  position: absolute;
  width: 80%;
  z-index: 10;
  margin: auto;
  background-color: #fff;
  height: 80%;
}

.shop-popup iframe{
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  height: 100%;
  overflow-y: scroll;
}
#cancel{
  position: absolute;
  right: 5%;
  background-color: rgb(99, 33, 33);
  font-size: 24px;
  color: #fff;
  width: max-content;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}